npm-debug.log
node_modules
yarn.lock

app/bower_components
test/bower_components
package

# IDEs
.idea
.vscode

temp
.tmp
.sass-cache
.DS_Store

dist
builds/
disc/
builds.zip
docs/jsdocs

development/bundle.js

#ignore css output and sourcemaps
ui/app/css/output/

notes.txt
