
.assets {
  .panel {
    background-color: rgba(92, 161, 241, .1);

    img {
      margin: 0 auto;
      display: block;
    }

    .btn {
      border-radius: 12px;
      font-size: 11px;
      margin: 5px auto;
      padding: 1px 10px;
      display: block;
    }
  }
}
