@font-face {
  font-family: "WorkSans";
  src: url("./Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url("./ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url("./Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url("./Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url("./Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url("./SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url("./Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url("./ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "WorkSans";
  src: url("./Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

.worksans {
  font-family: "WorkSans", sans-serif;
}
